<div class="card-body">
    <h5 class="card-title" style="color: #3f51b5;">{{ book.title }}</h5>
    <h6><strong>Author:</strong><span style="font:icon"> {{ book.user.name }} </span></h6>
    <h6>LKR.{{ book.price }}</h6>
      <div class="pb-3">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    <a href="#" class="btn btn-warning"><i class="fa fa-plus"></i> Buy now</a>
  </div>
